<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/results.css">
    <title>Memory Game</title>
</head>
<body>
    <div class="container" style="margin-top:10rem;">
        <div class="result-grid">  
            <div>
                <p><b>1</b></p>
            <img id="img1">
            </div>
            <div>
                <p><b>2</b></p>
            <img id="img2">
            </div>
            <div>
                <p><b>3</b></p>
            <img id="img3">
            </div>
            <div>
                <p><b>4</b></p>
            <img id="img4">
            </div>
            <div>
                <p><b>5</b></p>
            <img id="img5">
            </div>
            <div>
                <p><b>6</b></p>
            <img id="img6">
            </div>
            <div>
                <p><b>7</b></p>
            <img id="img7">
            </div>
            <div>
                <p><b>8</b></p>
            <img id="img8">
            </div>
            <div>
                <p><b>9</b></p>
            <img id="img9">
            </div>
            <div>
                <p><b>10</b></p>
            <img id="img10">
            </div>
            <div>
                <p><B>11</B></p>
            <img id="img11">
            </div>
            <div>
                <p><b>12</b></p>
            <img id="img12">
            </div>
        </div>
       
    </div>
    <form action="/start" method="get">
        <button class="restart" >Restart</button>
    </form>
</body>
</html>
<script src="/js/page5.js"></script>