<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Memory Game</title>
</head>
<body>
    <div class="page1">
        <div class="slot-machine">
            <div class="heading">
            <h1>🎰 Can you Memorize??? 🎰</h1>
            </div>
            <div class="reels">
                <div id="reel1" class="reel">0</div>
                <div id="reel2" class="reel">0</div>
            </div>
            <div style="display:none" class="messagebox">
                <p id="message"></p>
            </div>
            <div class="controls">
                <button>Test your Luck</button>
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="footer-content">
        <div class="left-side">
            <p>Kirti Agarwal, Sneha Agarwal, Priyansh Katiyar</p>
        </div>
        <div class="right-side">
            <p>Krishna Agarwal - Developer &copy; 2025</p>
        </div>
    </div>
</footer>
<script src="/js/page1.js"></script>