<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/page3.css">
    <title>Memory Game</title>
</head>
<body>
    <div class="page3">
        <div class="countdown-container">
            <div class="circle">
                <div class="countdown-text">15</div>
            </div>
            <div class="progress"></div>
            
        </div>
        <div class="imagebox">
            <p class="imageNumber">Image</p>
            <img alt="Collecting images ...">
        </div>
    </div> 
</body>
</html>
<script src="/js/page3.js"></script>