<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/page4.css">
    <title>Memory Game</title>
</head>
<body>
    <div class="page4">
        <div class="stopwatch">01:00:00</div>
    <div class="buttons">
        <button id="start">Start</button>
        <button id="stop" disabled>Pause</button>
        <button id="reset" disabled>Reset</button>
    </div>
    <button class="result">Go to Result</button>
    <br>
    </div>
</body>
</html>
<script src="/js/page4.js"></script>