<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Memory Game</title>
</head>
<body>
    <div class="page2">
        <div class="deck1 deck"></div>
        <div class="deck2 deck"></div>
        <div class="deck3 deck"></div>
        <div class="deck deck4"></div>
        <div class="deck5 deck"></div>
        <div class="deck6 deck"></div>
        <div class="deck7 deck"></div>
        <div class="deck8 deck"></div>
        <div class="deck9 deck"></div>
        <div class="deck10 deck"></div>
        <div class="deck11 deck"></div>
        <div class="deck12 deck"></div>
    </div>
</body>
</html>
<script id="server-data" type="application/json"><%-JSON.stringify(decknum)%></script>
<script src="/js/page2.js"></script>